.footerContainer {
  height: auto;
  width: 100%;
}
.footerContainer > div {
  background-color: #e5eef9;
  border-top: 2px solid #c8def5;
  border-radius: 0px 0px 25px 25px;
  width: auto;
}

.buttons {
  margin-right: 25px;
}
