.headerContainer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  background-color: #e5eef9;
  border-radius: 25px 25px 0px 0px;
  border-bottom: 2px solid #c8def5;
}

.headerIcon {
  font-size: 20px;
  margin-left: 20px;
  margin-top: 15px;
}

.headerTitle {
  width: 93%;
}

.headerTitle > div {
  margin-top: 10px;
  padding: 0;
  border: 0;
  background-color: #e5eef9;
}

.headerTitle > div > div > div > h1 {
  font-size: 21px;
  font-weight: bold;
}
